* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: darkblue;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
  }

body {
  overflow-x: hidden;
}

section {
    padding: 60px;
    display: flex;
    scroll-margin-top: 4.20rem;
  }

.section-head {
    color: var(--secondary-color);
    font-size: 3vw;
    padding: 20px;
}

.section-title {
    border-right: 2px solid var(--secondary-color);
    width: 20%;
}

.section-body {
    padding: 0 20px 0 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
/* general css end */
/* header css start */
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 4.25rem;
    z-index: 9999;
}

header h1 {
    font-weight: bolder;
    font-size: 5vw;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

header a {
    text-decoration: none;
    color: var(--tertiary-color);
  }

header nav {
    margin: 7px 0;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 50px 20px 20px;
  }

header nav ul li a {
    font-weight: bold;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.22vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  /* header css end */

  /* footer css start */

  footer {
    background: var(--secondary-color);
    width: 100%;
    margin: 0 -30px 0 0;
  }

  footer h2 {
      color: var(--tertiary-color);
      font-size: 3vw;
      padding: 30px;
  }

  /* footer css end */

  /* hero css start */

  .hero {
    background-image: url(../images/avatar.jpg); /* will change later just dont have photo of myself */
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  
  .hero h2 {
    color: white;
    text-shadow: 2px 1px black;
  }

  /* hero css end */

  /* about me css start */
  .about {
    font-size: 1.55vw
  }
   /* about me css end */

   /* my work css start */

   .run-buddy {
       background-image: url(../images/run-buddy-screenshot.png);
       display: block;
       background-size: cover;
       background-position: center;
       width: 62vw;
       height: 20vw;
       text-decoration: none;
       color: #fce138;
       font-weight: bolder;
       font-size: 2.22vw;
       text-shadow: 1px 1px black;
   }

.run-buddy:hover {
  opacity: .5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container:hover {
  opacity: .5;
}

.christmas {
  background-image: url(../images/ChristmasPicture.jpg);
  display: flex;
  flex: 1 1;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  width: 31vw;
  height: 10vw;
  color: #fce138;
       font-weight: bolder;
       font-size: 2.22vw;
       text-shadow: 1px 1px black;
}

.halloween {
  background-image: url(../images/halloween.jpg);
  display: flex;
  flex: 1 1;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  width: 31vw;
  height: 10vw;
  color: #fce138;
       font-weight: bolder;
       font-size: 2.22vw;
       text-shadow: 1px 1px black;
}

.easter {
    background-image: url(../images/easter.jpg);
    display: flex;
    flex: 1 1;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    width: 31vw;
    height: 10vw;
    color: #fce138;
       font-weight: bolder;
       font-size: 2.22vw;
       text-shadow: 1px 1px black;
}

.july4th {
  background-image: url(../images/july4th.jpg);
  display: flex;
  flex: 1 1;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  width: 31vw;
  height: 10vw;
  color: #fce138;
       font-weight: bolder;
       font-size: 2.22vw;
       text-shadow: 1px 1px black;
}



/* my work css end */

/* Contact css start */

.contact-list {
  list-style: none;
  padding: 0 20px 0 20px;
  font-size: 2.22vw;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
}

.contact-list a {
  text-decoration: none;
  color: var(--secondary-color);
  border-bottom: 2px solid #024e76;
  padding: 10px 11px;
}

.contact-list a:hover {
  color: var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color);
  background-color: var(--secondary-color);
  border-radius: 15px;
}

/* contact css end */

